#allDiv{
    background-color: white;
    width: 364px;
    height: 117px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#sectionTitle{
    color: #212220;
}
#sectionPricePerKg{
    color: #585858;
}
#sectionPrice{
    color: #008000;

}
#btnBuy{
    background-color: #008000;
    border-radius: 100%;
}
#allDiv div{
    display: flex;
}